.post-type-archive-fanclubs-design {
    .site-main {
      .page-header {
        display: none;
      }
      #content-wrap {
        .archive_design_wrapper {
          .content-area {
            float: right;
            padding-right: 0;
            padding-left: 30px;
            border: none;
            .archive_design_items {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              gap: 20px;
              text-align: center;
              .archive_design_item {
                border: 1px solid #999999;
                padding: 20px;
                a {
                  &:focus {
                    outline: none !important;
                  }
                  img {
                    width: 100%;
                    height: auto;
                  }
                }
              }
            }
          }
        }
      }
    }
  }