.single-product {
  .woocommerce-product-gallery__wrapper {
    position: relative;
    overflow: hidden;
  }
}

.single-product {
  .owp-product-nav-wrap {
    display: none;
  }
  //display: none !important;

  .variations_form.cart {
    display: none !important;
  }
  .content-area {
    width: 100%;
    border: none;
    padding: 0 !important;
  }
  aside {
    display: none;
  }
}
.woocommerce {
  div{
    &.product {
      .woocommerce-product-gallery {
        .zoomImg {
          display: none !important;
        }
      }
    }
  }
}
.product_lightbox_image {
  display: block;
  position: relative;
  overflow: hidden;
  img {
    position: relative;
    display: inline-block !important;
  }
  .single_product_lightbox {
    position: absolute;
    top: 11%;
    left: 45%;
    display: inline-block;
    height: auto;
    img {
      width: 20%;
    }
  }
}

.custom_design_light_box_wrapper {
  transform: translate3d(538px, 44px, 0px) scale(1);
  height: 827px;
  width: 827px;
  position: relative;
}

.posted_in {
  a {
    border: none;
    outline: none !important;
    &:focus {
      border: none;
      outline: none !important;
    }
  }
}

.custom_cart_design  {
  &:focus {
    outline: none !important;
  }
  &:hover {
    &:focus {
      outline: none !important;
    }
  }
  a {
    &:focus {
      outline: none !important;
    }
  }
  .attachment-woocommerce_thumbnail {
    cursor: auto !important;
  }
}