@import "design_single";
@import "product_single";
@import "archive_design";
@import "cat_design_sidebar.scss";
@import "cat_design.scss";

.cart_item {
  .product-name {
    a {
      &:hover {
        color: #020202;
      }
    }
  }
}

.product-name {
  a {
    cursor: auto !important;
    text-decoration: none !important;
    &:focus {
      outline: none !important;
    }
  }
  ul {
    margin-left: 0 !important;
  }
}