.fanclubs-design-template .container .site-content .fan_product_wrapper .fan_product_top_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 25px; }
  .fanclubs-design-template .container .site-content .fan_product_wrapper .fan_product_top_wrapper .fan_product_details .fan_product_title {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px; }
  .fanclubs-design-template .container .site-content .fan_product_wrapper .fan_product_top_wrapper .fan_product_details .fan_product_description {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px; }
.fanclubs-design-template .container .site-content .fan_product_wrapper .fan_product_bottom_wrapper {
  margin-top: 20px;
  text-align: center; }
  .fanclubs-design-template .container .site-content .fan_product_wrapper .fan_product_bottom_wrapper h2 {
    text-transform: uppercase; }
  .fanclubs-design-template .container .site-content .fan_product_wrapper .fan_product_bottom_wrapper ul {
    margin: 0; }
    .fanclubs-design-template .container .site-content .fan_product_wrapper .fan_product_bottom_wrapper ul a:hover {
      color: #000; }
    .fanclubs-design-template .container .site-content .fan_product_wrapper .fan_product_bottom_wrapper ul a li {
      list-style: none;
      margin: 0;
      padding: 0; }
    .fanclubs-design-template .container .site-content .fan_product_wrapper .fan_product_bottom_wrapper ul.fan_product_carousel {
      position: relative; }
      .fanclubs-design-template .container .site-content .fan_product_wrapper .fan_product_bottom_wrapper ul.fan_product_carousel .owl-nav .owl-prev {
        position: absolute;
        top: calc(40% - 20px);
        left: calc(0% - 30px); }
        .fanclubs-design-template .container .site-content .fan_product_wrapper .fan_product_bottom_wrapper ul.fan_product_carousel .owl-nav .owl-prev span {
          font-size: 30px; }
      .fanclubs-design-template .container .site-content .fan_product_wrapper .fan_product_bottom_wrapper ul.fan_product_carousel .owl-nav .owl-next {
        position: absolute;
        top: calc(35% - 20px);
        right: calc(0% - 30px); }
        .fanclubs-design-template .container .site-content .fan_product_wrapper .fan_product_bottom_wrapper ul.fan_product_carousel .owl-nav .owl-next span {
          font-size: 30px; }

.fan_product_carousel a:hover {
  color: #000; }

.single-product .woocommerce-product-gallery__wrapper {
  position: relative;
  overflow: hidden; }

.single-product .owp-product-nav-wrap {
  display: none; }
.single-product .variations_form.cart {
  display: none !important; }
.single-product .content-area {
  width: 100%;
  border: none;
  padding: 0 !important; }
.single-product aside {
  display: none; }

.woocommerce div.product .woocommerce-product-gallery .zoomImg {
  display: none !important; }

.product_lightbox_image {
  display: block;
  position: relative;
  overflow: hidden; }
  .product_lightbox_image img {
    position: relative;
    display: inline-block !important; }
  .product_lightbox_image .single_product_lightbox {
    position: absolute;
    top: 11%;
    left: 45%;
    display: inline-block;
    height: auto; }
    .product_lightbox_image .single_product_lightbox img {
      width: 20%; }

.custom_design_light_box_wrapper {
  transform: translate3d(538px, 44px, 0px) scale(1);
  height: 827px;
  width: 827px;
  position: relative; }

.posted_in a {
  border: none;
  outline: none !important; }
  .posted_in a:focus {
    border: none;
    outline: none !important; }

.custom_cart_design .attachment-woocommerce_thumbnail {
  cursor: auto; }

.post-type-archive-fanclubs-design .site-main .page-header {
  display: none; }
.post-type-archive-fanclubs-design .site-main #content-wrap .archive_design_wrapper .content-area {
  float: right;
  padding-right: 0;
  padding-left: 30px;
  border: none; }
  .post-type-archive-fanclubs-design .site-main #content-wrap .archive_design_wrapper .content-area .archive_design_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center; }
    .post-type-archive-fanclubs-design .site-main #content-wrap .archive_design_wrapper .content-area .archive_design_items .archive_design_item {
      border: 1px solid #999999;
      padding: 20px; }
      .post-type-archive-fanclubs-design .site-main #content-wrap .archive_design_wrapper .content-area .archive_design_items .archive_design_item a:focus {
        outline: none !important; }
      .post-type-archive-fanclubs-design .site-main #content-wrap .archive_design_wrapper .content-area .archive_design_items .archive_design_item a img {
        width: 100%;
        height: auto; }

.sidebar-container.widget-area {
  float: left !important; }

.product_cat_item ul li {
  margin: 6px 0 6px 0; }
  .product_cat_item ul li a {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center; }
    .product_cat_item ul li a:focus {
      outline: none !important; }
    .product_cat_item ul li a span.product_cat_image {
      width: 48px;
      height: 48px;
      display: block;
      margin-right: 10px; }
    .product_cat_item ul li a.active {
      border: 1px solid #f5f5f5;
      padding: 5px;
      margin-left: -5px; }

/*# sourceMappingURL=custom-product-designer-public.css.map */
